# Lab | Handling Data Imbalance in Classification Models

For this lab and in the next lessons we will build a model on customer churn binary classification problem. You will be using `files_for_lab/Customer-Churn.csv` file.

### Instructions

In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class.

Here is the list of steps to be followed (building a simple model without balancing the data):

- Import the required libraries and modules that you would need.
- Read that data into Python and call the dataframe `churnData`.
- Check the datatypes of all the columns in the data. You would see that the column `TotalCharges` is object type. Convert this column into numeric type using `pd.to_numeric` function.
- Check for null values in the dataframe. Replace the null values.
- Use the following features: `tenure`, `SeniorCitizen`, `MonthlyCharges` and `TotalCharges`:
  - Scale the features either by using normalizer or a standard scaler.
  - Split the data into a training set and a test set.
  - Fit a logistic regression model on the training data.
  - Check the accuracy on the test data.

**Note**: So far we have not balanced the data.

Managing imbalance in the dataset

- Check for the imbalance.
- Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
- Each time fit the model and see how the accuracy of the model is.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings('ignore')

In [2]:
churnData = pd.read_csv('/Users/elissadejong/lab-handling-data-imbalance-classification/files_for_lab/Customer-Churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [3]:
# replacing ' ' with '_'
cols = []

for i in range(len(churnData.columns)):
    cols.append(churnData.columns[i].lower().replace(' ','_'))

churnData.columns = cols
churnData.head()

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,monthlycharges,totalcharges,churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [4]:
churnData.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [5]:
churnData['totalcharges'] = pd.to_numeric(churnData['totalcharges'], errors='coerce').fillna(0).astype(int)

In [6]:
churnData.isna().sum()#/len(churnData)*100

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [7]:
data_model = churnData[['tenure', 'seniorcitizen', 'monthlycharges', 'totalcharges', 'churn']]

In [8]:
X = data_model.drop('churn', axis=1)
y = data_model['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [9]:
transformer = StandardScaler()
transformer.fit(X_train)

StandardScaler()

In [10]:
X_train_trans = transformer.transform(X_train)

In [11]:
X_test_trans = transformer.transform(X_test)

In [12]:
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

LogisticRegression()

In [13]:
print(logreg.score(X_test_trans, y_test))

0.8062455642299503

In [14]:
data_model['churn'].value_counts()

No     5174
Yes    1869
Name: churn, dtype: int64

### Resampling to upsample

In [15]:
upsample = churnData.drop(['churn'], axis=1)
churn_no = churnData[churnData['churn'] == 'No']
churn_yes = churnData[churnData['churn'] == 'Yes']

In [16]:
churn_yes = churn_yes.sample(len(churn_no), replace=True)
print(churn_yes.shape)

(5174, 16)

In [17]:
upsample = pd.concat([churn_no, churn_yes], axis=0)

In [18]:
#shuffling the data
upsample = upsample.sample(frac=1)
upsample['churn'].value_counts()

Yes    5174
No     5174
Name: churn, dtype: int64

In [19]:
upsample_model = upsample[['tenure', 'seniorcitizen', 'monthlycharges', 'totalcharges', 'churn']]

In [20]:
X = upsample_model.drop('churn', axis=1)
y = upsample_model['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [21]:
transformer = StandardScaler()
transformer.fit(X_train)

StandardScaler()

In [22]:
X_train_trans = transformer.transform(X_train)

In [23]:
X_test_trans = transformer.transform(X_test)

In [24]:
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

LogisticRegression()

In [25]:
print(logreg.score(X_test_trans, y_test))

0.7502415458937198

### Resampling to downsample

In [26]:
downsample = churnData.drop(['churn'], axis=1)
churn_no = churnData[churnData['churn'] == 'No']
churn_yes = churnData[churnData['churn'] == 'Yes']

In [27]:
churn_no = churn_no.sample(len(churn_yes))

In [28]:
print(churn_no.shape)
print(churn_yes.shape)

(1869, 16)
(1869, 16)

In [29]:
downsample = pd.concat([churn_no, churn_yes], axis=0)
#shuffling the data
downsample = downsample.sample(frac=1)
downsample['churn'].value_counts()

No     1869
Yes    1869
Name: churn, dtype: int64

In [30]:
downsample_model = downsample[['tenure', 'seniorcitizen', 'monthlycharges', 'totalcharges', 'churn']]

In [31]:
X = downsample_model.drop('churn', axis=1)
y = downsample_model['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [32]:
transformer = StandardScaler()
transformer.fit(X_train)

StandardScaler()

In [33]:
X_train_trans = transformer.transform(X_train)

In [34]:
X_test_trans = transformer.transform(X_test)

In [35]:
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

LogisticRegression()

In [36]:
print(logreg.score(X_test_trans, y_test))

0.7058823529411765

### Conclusion
for this lab I didn't use SMOTE or TomekLinks, but rather randomly upsampled and downsampled through resampling (i don't know if that's okay). Anyway, the accuracy score of the model drops when the data is more balanced, which makes sense as it is probably slightly better at predicting true negatives (churn = 'yes') and hence less good at predicting true positives (churn = 'no'). However, the cases in which it predicts false positives and false negatives is most likely also higher so this is when the trade-off story comes in. Further analyses would need to look at the confusion matrices and the ROC/AUC-scores & -curves or apply different data balancing techniques.